### Import Libraries

In [1]:
import pandas as pd
import tweepy
import spacy

### Authenticate Twitter

In [2]:
consumer_key = "oYPnahnpntB67ZN6RwHQWJQg4"
consumer_secret = "ns9pmChOswLPesSMWzBq68BgwqXtRpx1eKe73f5SsYC78Bukp6"
access_token = "58218421-n2TD2tKbbLp5uvS2WnlfX82e3lVKCjh3UUvNvW217"
access_token_secret = "ILrE8AmSyjAQfa3yxK6eYHodBLfnguJQYrBHinzW5fH2C"

In [3]:
# Creating the authentication object
auth = tweepy.OAuthHandler(consumer_key, consumer_secret)
# Setting your access token and secret
auth.set_access_token(access_token, access_token_secret)
# Creating the API object while passing in auth information
api = tweepy.API(auth)
api.verify_credentials().name

'Ye Lynn Khant'

### Define Search Keywords

In [4]:
search_words = 'smu OR "singapore management university"'
#filter retweets
search_words = search_words + " -filter:retweets"

num_records = 1500

### Call the search API

In [5]:
tweets = tweepy.Cursor(api.search,
              q=search_words,
              lang="en",
            tweet_mode="extended",
                      since_id="2000-01-01").items(num_records)

### Create Pandas Dataframe from results

In [6]:
dlist = [[t.user.name,t.full_text,t.created_at,t.id] for t in tweets]
df = pd.DataFrame(data=dlist,columns=['user','tweet','date_tweet','tweet_id'])

### Get the size of the data

In [7]:
df.shape

(10, 4)

### Insert the new column (keyword) to the Dataframe

In [8]:
df['keyword']="smu,singapore management university"

### Get the sample from the Dataset for verification

In [9]:
df.sample(10)

,user,tweet,date_tweet,tweet_id,keyword
3,Al,Good morning Tweetie Pies Happy Sunday!,2020-04-19 11:20:46,1251833113103273992,"smu,singapore management university"
4,oWs tAlagA?,"Smu, paascu accredited level 3 already cancell...",2020-04-19 11:14:01,1251831414816862208,"smu,singapore management university"
1,SMU,@Minabis2 So what are you trying to portray by...,2020-04-19 11:54:42,1251841650055426048,"smu,singapore management university"
0,The Big Orange Gun,@jimharris360 @MichaelWBratton SMU won 10 game...,2020-04-19 12:04:57,1251844230445662210,"smu,singapore management university"
2,L•D•S,Making something that transports people to a m...,2020-04-19 11:30:05,1251835454833344512,"smu,singapore management university"
6,himawari love bot ♡,hello i'll log out this account for a moment. ...,2020-04-19 10:24:25,1251818930416451584,"smu,singapore management university"
7,Christian Coker,My 2 favorite prosects this year:\n\n-Amik Rob...,2020-04-19 10:16:44,1251816998008270848,"smu,singapore management university"
5,Sven Mueller,3. #F5 #DDoS article: Understand what effect t...,2020-04-19 11:05:39,1251829307586084864,"smu,singapore management university"
9,Gridiron,As one of the programme's receivers finds hims...,2020-04-19 10:12:01,1251815809367900161,"smu,singapore management university"
8,Buchyo,@SMU_SA Good,2020-04-19 10:15:28,1251816680113799169,"smu,singapore management university"

### Write the Dataframe to the CSV file

In [10]:
df.to_csv("smu.csv")

In [12]:
ntu = pd.read_csv("nus.csv")
ntu.shape

(1397, 6)